<h2 class="text-2xl text-center font-bold text-black mb-3">Trending News</h2>
<div *ngIf="isBrowser">
<ng-container *ngFor="let item of news; " >
    <div 
    class="flex flex-row gap-1  justify-between items-center overflow-hidden   mb-5  md:h-44 h-fit cursor-pointer "
    (click)="getPost(item.type, item.slug, item) "
  >
    <img 
      [src]="item.thumb" 
      alt="Video Thumbnail" 
      class="w-[55%]  h-[136px] md:h-fit object-fill rounded"
    >
    
    <div class="w-full h-[140px] md:h-40 sm:w-1/2 text-left  flex flex-col justify-between px-1">
      <p class="title line-clamp-5 text-sm md:text-[16px] overflow-hidden text-ellipsis font-semibold h-36">
        {{ item.title }}
      </p>
      
      <div class="flex justify-between items-center text-sm ">
        <div class="tag bg-blacks px-3 md:px-2 rounded-sm text-white " style="background-color: black  !important; padding:  4px; color: white !important; border-radius: 3px !important;">{{ item.categories }}</div>
          <div class="text-sm">{{ item.relativeTime }}</div> <!-- Display relative time -->

      </div>
    </div>
  </div>
  
  
    

  </ng-container>
  </div>