<footer class="bg-black text-white py-8">
    <div class="container mx-auto text-center cursor-pointer">
      <p class="mb-4">&copy; 2025 Hard Knock News. All rights reserved.</p>
      <div class="mb-6 cursor-pointer">
        <p class="inline-block mx-4">About Us</p>
        <p class="inline-block mx-4">Contact</p>
        <p class="inline-block mx-4">Privacy Policy</p>
        <p class="inline-block mx-4">Terms of Service</p>
      </div>
      <div class="flex justify-center space-x-6 cursor-pointer">
        <p><i class="fab fa-facebook text-xl"></i></p>
        <p><i class="fab fa-twitter text-xl"></i></p>
        <p><i class="fab fa-instagram text-xl"></i></p>
      </div>
    </div>
  </footer>
  