<div class="px-0 my-10 md:px-28">
  <p class="text-3xl font-bold text-center py-2">Celebrity News</p>

<div class="grid grid-cols-1 sm:grid-cols-2 mt-5 md:grid-cols-3 lg:grid-cols-4 gap-y-8 gap-x-4 p-1 md:gap-x-8">
    
    <ng-container *ngFor="let item of news; let i = index">
      <div class="flex flex-row sm:flex-col items-center bg-white overflow-hidden cursor-pointer"  (click)="getPost(item.type,item.slug , item)">
        <img *ngIf="item.thumb" [src]="item.thumb" alt="News Image"
 class="w-1/2 sm:w-full h-32 object-cover rounded" />
        <div class="w-1/2 sm:w-full text-left font-semibold flex flex-col justify-between h-32 px-1">
          <div class="flex justify-between items-center">
            <div class="title line-clamp-4 overflow-hidden text-ellipsis h-24">
              {{ item.title }}
            </div>   
          </div>
          <div class="time flex justify-between items-center text-sm font-normal">
            <div class="tag text-sm bg-blacks px-3 rounded-sm text-white ">{{ item.categories }}</div>
            <div>{{ item.relativeTime }}</div> <!-- Display relative time -->

          </div>
        </div>
      </div>

      

    </ng-container>

  </div>
  </div>